$green: #54c688;

@import '../../../node_modules/purecss/build/pure-min.css';
@import '../font/fontello.css';

body {
  color: #fff;
  background: url('../images/darkness.jpg') center center / cover no-repeat rgb(51, 51, 51);
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &.prod, &.prod * {
    // in production environment, we want to hide the cursor (touch screen)
    cursor: none !important;
  }
}

a {
  color: #fff;
}

@mixin shadowed() {
  padding: 2px 8px 0;
  background-color: rgba(0, 0, 0, .4);
}

.nowrap {
  white-space: nowrap;
}

button.pure-button {
  font-size: 34px;
  padding: 6px;
  background: none;
  color: #fff;
  border-radius: 0;

  &.active {
    color: $green;
  }
}

.top-bar {
  background-color: #090909;
  color: #fff;
  display: flex;

  &.player-top-bar {
    justify-content: center;

    > img {
      position: absolute;
      left: 8px;
    }
  }
  &.library-top-bar {
    justify-content: flex-start;
  }

  .player-buttons {
    position: relative;
  }

  .play-button-wrapper {
    background: black;
    width: 78px;
    height: 78px;
    position: absolute;
    left: 50%;
    margin-left: -39px;
    top: 0;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
  }

  button.pure-button {

    &.btn-prev, &.btn-next {
      margin: 0 28px;
    }

    &.btn-pause, &.btn-play {
      color: $green;
      border: 3px solid $green;
      border-radius: 50%;
      height: 64px;
      width: 64px;
    }
  }

  .quick-menu {
    position: absolute;
    right: 8px;
  }

  .btn-lock {
    color: rgba(255, 255, 255, 0.21);
  }

}

.msg {

  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 4;
  justify-content: center;
  align-items: center;

  .msg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    @include shadowed();
    font-size: 5vh;

    button.pure-button {
      font-size: 5vh;
    }
  }

  &.msg-error {

  }

}

.queue li.current-track {
  font-weight: bold;
}

.volume-bar {

  width: 100%;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);

  .volume-bar-inner {
    background: $green;
    height: 100%;
    width: 0;
  }
}

.main {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vh;

  .timr {
    @include shadowed();
  }

  .column {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .column.right-column, .column.left-column {
    width: 160px;
  }
  .column.right-column {
    flex-direction: column;

    > div {
      margin: 20px 0;
    }

    button {
      font-size: 5.2vh;
      @include shadowed();
    }
  }

  .trackinfo {
    flex-grow: 1;

    .line-one, .line-two {
      @include shadowed();
    }

    .line-one {
      color: $green;
    }

    img {
      max-width: 250px;
      margin: 12px 0;
      border: 10px solid rgba(0, 0, 0, .5);
    }
  }
}

.ui-lock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);

  .digits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 24px;
    background-color: rgba(0, 0, 0, .8);

    .digits-row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      button.pure-button.digit {
        font-size: 5.5vh;
        border: 1px solid rgba(255, 255, 255, 0.3);
        margin: 2vh;
        width: 8vh;
        height: 8vh;
        text-align: center;
        box-sizing: border-box;

        &.digit-active {
          border: 1px solid $green;
        }
      }
    }

  }
}

.track-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include shadowed();

  .track-list-inner {
    padding: 24px;
    background-color: rgba(0, 0, 0, .8);
  }

  ol {
    margin: 0;
    padding-left: 9vh;

    li {
      font-size: 5vh;
      padding: 4px 0;

      &.current {
        font-weight: bold;
      }
    }
  }
}

.favoritesList {
  margin-top: 40px;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;

    li {
      padding: 0 6px;

      .favorite-title {
        font-size: 5vh;
        @include shadowed();
      }

      img {
        width: 200px;
        height: 200px
      }

    }
  }

}
